* {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif; }

.container {
  max-width: 1024px;
  margin: 0 auto; }

.row {
  clear: both; }

.row::before, .row::after {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px; }

.col-1 {
  width: 8.3333333333%; }

.col-2 {
  width: 16.6666666667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.3333333333%; }

.col-5 {
  width: 41.6666666667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.3333333333%; }

.col-8 {
  width: 66.6666666667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.3333333333%; }

.col-11 {
  width: 91.6666666667%; }

.col-12 {
  width: 100%; }

.clearfix {
  clear: both; }

.text-center {
  text-align: center; }

header {
  margin: 0;
  color: #FFF;
  background-color: #313332; }

.nav ul {
  margin: 0;
  list-style-type: none;
  overflow: hidden; }
.nav li {
  text-transform: uppercase;
  display: inline-block;
  padding: 10px;
  float: right; }
  .nav li:hover {
    color: #00C7E8; }
.nav h1 {
  margin: 0 auto;
  text-transform: uppercase;
  margin-top: 5px;
  float: left;
  margin-left: 50px; }

.hero__section {
  background-image: url("https://tinyurl.com/ybml2u4p");
  background-size: 100%;
  width: 100%;
  background-position: center;
  color: #FFF;
  overflow: auto; }

.hero {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 25px;
  float: right;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 50px 25px; }

h3 {
  text-transform: uppercase;
  margin-bottom: 0; }

.hero__span {
  text-transform: uppercase; }

.benefits {
  margin-top: 50px; }

.benefits__header {
  text-transform: uppercase; }

.fa {
  color: #FFF;
  background-color: #313332;
  padding: 20px;
  font-size: 50px;
  border-radius: 10%; }

.benefits__hover:hover .fa {
  color: white;
  background-color: #00C7E8;
  transition: 0.3s; }

.benefits__hover:hover {
  transition: 0.3s;
  color: #00C7E8; }

.benefits__span {
  color: #A5A5A5; }

.featured__works {
  margin-top: 50px; }

.fw__header {
  text-transform: uppercase;
  font-size: 30px; }

.fw__span {
  color: #A5A5A5;
  margin: 0 auto;
  max-width: 600px; }

.glallery__img {
  border: 1px solid #eef442;
  height: 200px;
  object-fit: cover;
  display: block;
  width: 100%; }

.gallery {
  margin-top: 50px; }

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(111, 111, 111, 0.5);
  width: 100%;
  height: 100%;
  text-align: center; }

.gallery__hover {
  position: relative; }

.gallery__hover:hover .overlay {
  display: block; }

.fas {
  color: white;
  font-size: 30px;
  margin-top: 70px;
  padding: 20px; }

.team {
  margin-top: 50px;
  text-align: center; }

.team__img {
  border-radius: 50%;
  border: 1px solid #555;
  max-width: 100%;
  object-fit: cover;
  display: block; }

.team__overlay {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center; }

.team__hover {
  margin-left: 20px;
  margin-right: 20px;
  position: relative; }

.team__hover:hover .team__overlay {
  display: block; }

.team__header {
  padding-top: 10px;
  margin: 0 auto; }

.team__span {
  color: #FFF;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 40%; }

.banner__txt {
  padding-left: 50px;
  column-count: 2; }

.banner__header {
  text-transform: uppercase; }

.banner {
  margin-top: 50px;
  background-image: url("https://tinyurl.com/y7v6mrly");
  color: #FFF;
  overflow: hidden;
  padding: 50px; }

.banner__position {
  position: relative; }

.banner__img {
  width: 100%;
  top: 20px;
  position: absolute; }

.numbers {
  margin-top: 20px; }

.numbers_header, .numbers_header_red, .numbers_header_blue, .numbers_header_yellow, .numbers_header_green {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0; }

.numbers_header_red {
  color: red; }

.numbers_header_blue {
  color: blue; }

.numbers_header_yellow {
  color: yellow; }

.numbers_header_green {
  color: green; }

.span__numbers {
  color: #00C7E8;
  font-weight: bold;
  font-size: 20px; }

footer {
  margin-top: 50px;
  color: #FFF;
  background-color: #313332; }

.address__line {
  display: block; }

.fab {
  font-size: 20px;
  padding: 10px;
  background-color: #00C7E8;
  color: #FFF;
  border-radius: 25%;
  margin: 5px; }

.copyright {
  background-color: #111;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px; }

.footer__position {
  padding-left: 20px; }

.footer__header {
  text-transform: uppercase;
  text-align: center;
  overflow: hidden; }

.footer__header:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 5px;
  border-top: 1px solid #fff; }

@media (max-width: 767px) {
  h1 {
    padding-top: 10px;
    float: none;
    text-align: center; }

  li {
    float: left;
    display: block;
    text-align: center; }

  .hero {
    float: none;
    text-align: center; }

  .rwd {
    float: none;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center; }

  .banner__img {
    position: static;
    display: block; }

  .benefits__position {
    padding-top: 10px; }

  .team__img {
    margin-top: 20px;
    width: 100%; }

  .glallery__img {
    height: 100%; }

  .span__banner {
    padding-left: 0; }

  .banner__txt {
    columns: 1; } }

/*# sourceMappingURL=style.css.map */
